<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
</head>
<body>
  <h1>Movies</h1>
  <h2>Spider-Man No Way Home</h2>
  <img src="https://pbs.twimg.com/media/FFro_xyUUAM8wya.jpg?name=small" width="200" height="200">
  <h2>Black Widow</h2> 
  <img src="https://images-na.ssl-images-amazon.com/images/I/914MHuDfMSL.jpg?name=small" width="200" height="200">
</body>
</html>